<div class="container">
  <div>
    <img src="http://www.ayuholding.kg/upload/iblock/a73/a73233b558af61e4085550ef362b3016.png" alt="АЮ" class="mb-5">
    <p>
      <b>«АЮ Холдинг»</b> — крупная многофункциональная холдинговая компания, главные направления деятельности которой
      сосредоточены в производственном, агропромышленном и строительном секторах экономики, в сфере финансовых услуг,
      торговли и сбыта. Холдинг был <b>образован в апреле 2003 года.</b>
    </p>
    <p>
      Сегодня «АЮ Холдинг» – это один из самых успешных и узнаваемых брендов страны. С первых дней стремления всех людей,
      которые стояли у истоков, были направлены на лидерство и построение самого передового производства с современным
      оборудованием и внедрением новых технологий.
    </p>
  </div>
  <div>
    <h2>МИССИЯ КОМПАНИИ</h2>
    <p>ОЮЛ «Ассоциация АЮ Холдинг» объединяет компа­нии для их дальнейшего роста в интересах развития экономики
      Кыргызстана.</p>
  </div>
  <div>
    <h2>СТРАТЕГИЧЕСКИЕ ЦЕЛИ:</h2>
    <ul>
      <li>Создание ведущего агропромышленного комплекса, обеспечивающего продовольственную безопасность Кыргызстана</li>
      <li>Формирование комплекса финансово устойчивых промышленных предприятий, реализующих кон­курентоспособную
        продукцию на региональном и зарубежном рынках</li>
      <li>Достижение лидерства в строительном комплек­се, укрепление позиций на региональном уровне</li>
      <li>Создание розничной торговой сети регионально­го и зарубежного уровня</li>
      <li>Оптимизация инвестиционного портфеля Хол­динга с расширением присутствия в новых высо­котехнологичных отраслях деятельности
      </li>
    </ul>
  </div>
</div>
