<div class="container">
  <div>
    <h4>Адрес</h4>
    <p>Кыргызская Республика, г. Бишкек, ул. Чокана Валиханова, 2 (ТЦ "АЮ Grand")</p>
  </div>
  <div>
    <h4>Телефон</h4>
    <p>+996 770 98 65 35</p>
    <p>+996 312 98 65 36 (Телефон доверия)    </p>
  </div>
  <div>
    <h4>E-mail</h4>
    <p>ayukyrgyzstan@gmail.com</p>
  </div>
  <div>
    <h4>Режим работы</h4>
    <p>Пн. – Пт.: с 8:00 до 17:00</p>
  </div>
</div>
