<nav class="navbar navbar-expand-lg navbar-dark container">
  <a class="navbar-brand" routerLink="/">
    <img src="http://www.ayuholding.kg/401949.1453866940_0.jpg" style="width: 100px" alt="Аю Гранд">
  </a>
  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/about-us" class="nav-link">About us</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/contacts" class="nav-link">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
