<div class="container mt-2">
  <h2>Абдыкеримов Шаршенбек Шайлообекович</h2>
  <div>
    <img src="http://www.ayuholding.kg/upload/medialibrary/55f/55fe5a6936b7138beee78251ad505b12.jpeg" alt="founder"
         class="mb-5">
    <p> История Ассоциации «АЮ Холдинг» - это мечта простого кыргызстанца, полного амбиций и желания помочь людям и
      своей
      стране. Видя огромный потенциал Кыргызстана стать весомой фигурой на международном рынке и искренне веря в
      возможность помочь соотечественникам, я собрал команду единомышленников.
    </p>
    <p>
      У истоков зарождения стояли патриоты, ряды которых пополняются каждый год. Не словом, а делом они на протяжении
      уже многих лет постоянно доказывают лидерство «АЮ Холдинг» во многих отраслях и поддерживают высокую планку.
    </p>
    <p>
      Возможно, компания выбрала не самое легкое время для старта – начало 2000-х годов запомнилось рыночным штормом,
      когда бизнесмены начинали дело на свой страх и риск. Однако именно трудности закаляют характер и дух. Начиная с
      нескольких предприятий, компания «Аю» закономерно выросла в огромный холдинг, продукты которого востребованы на
      территории всей страны и покоряют заграничных клиентов своим качеством.
    </p>
    <p>
      Я очень хочу верить, что зарождение компании изменило жизни многих людей, вселяя уверенность и надежду в
      завтрашнем дне. Компания предложила совместно строить стабильное будущее.
    </p>
    <p>
      Успех «АЮ Холдинга» – это успех каждого сотрудника. Сплоченный коллектив трудится единым фронтом, плечом к плечу,
      во благо одной цели – развивать отечественное производство! Чувствуя личную ответственность за общее дело,
      сотрудники выкладываются на все сто процентов, ведь они видят результаты собственного труда.
    </p>
    <p>
      Работа Ассоциации «АЮ Холдинг» эффективно повлияла на экономику регионов, а после и на экономику целой страны.
      «АЮ»
      есть чем гордиться: национальное и международное признание, расширение географии, рост и развитие компании. Однако
      мы не намерены останавливаться на достигнутом. На горизонте новые вершины и много смелых планов.
    </p>
    <p>
      <b>С уважением, Шаршенбек Абдыкеримов</b>
    </p>
  </div>
  <div class="mb-3 mt-5">
    <ul class="list-group">
      <li class="list-group-item">1993 год - работал в совместном казахско-немецком предприятии "АусБлат".</li>
      <li class="list-group-item">1994 год - руководил строительством водочного завода</li>
      <li class="list-group-item">1995 год - руководитель отдела маркетинга и сбыта товарищества с ограниченной
        ответственностью (ТОО) "Геом" на территории Казахстана.
      </li>
      <li class="list-group-item">2001-2002 годы — возглавлял отдел маркетинга и сбыта компании "А-вест"
        (официальный дистрибьютор компании PhilipMorris).
      </li>
      <li class="list-group-item">2002-2003 годы — руководил строительством завода «Арвин»</li>
      <li class="list-group-item">2003-2005 годы — руководитель предприятия по сбыту продукции ОсОО "Арвин".</li>
      <li class="list-group-item">2005-2008 годы — председатель правления ОАО "ОККО".</li>
      <li class="list-group-item">2008-2010 годы — генеральный директор Кыргызской агропродовольственной корпорации.
      </li>
      <li class="list-group-item">В июне 2011 года по списку политической партии "Республика" избран депутатом Жогорку
        Кенеша V созыва.
      </li>
      <li class="list-group-item">2011 году был избран Президентом Федерации спортивной борьбы Кыргызской Республики
      </li>
      <li class="list-group-item">В мае 2015 года избран президентом Национального олимпийского комитета Кыргызской
        Республики.
      </li>
    </ul>
  </div>
</div>
