<div class="container mt-5 mb-4">
  <h4>Предприятия</h4>
  <ul class="list-group">
    <li class="list-group-item">"Aртезиан"</li>
    <li class="list-group-item">"АЮ"</li>
    <li class="list-group-item">"Golden Sun"</li>
    <li class="list-group-item">"АЮ Лизинг"</li>
    <li class="list-group-item">"Винодел"</li>
    <li class="list-group-item">"Bulls.KG"</li>
    <li class="list-group-item">"Глобал Милк"</li>
    <li class="list-group-item">"КЗСИ"</li>
    <li class="list-group-item">"АЮ Гранд"</li>
    <li class="list-group-item">"АЮ Фарм"</li>
    <li class="list-group-item">"Авторемонтный завод"</li>
    <li class="list-group-item">Спиртовой завод "АЮ"</li>
    <li class="list-group-item">"Ак-Сарай"</li>
    <li class="list-group-item">"Ала-Тоо Пласт"</li>
    <li class="list-group-item">"Коттон-Текстиль Фэктори"</li>
    <li class="list-group-item">"Голубая бухта"</li>
    <li class="list-group-item">"Аршан Ритейл"</li>
    <li class="list-group-item">"ТМ "АЮ Энерджи" (Нур-Ал Энерго)"</li>
    <li class="list-group-item">"ОККО" (Кожевенный завод)"</li>
    <li class="list-group-item">"Токмок Буллс"</li>
    <li class="list-group-item">"АЮ Финанс"</li>
    <li class="list-group-item">"АЮ Курулуш"</li>
    <li class="list-group-item">"АЮ Гарант"</li>
    <li class="list-group-item">"Golden Drinks"</li>
  </ul>
</div>
