<div class="container">
  <p>
    <b>«АЮ Холдинг»</b> — крупная многофункциональная холдинговая компания, главные направления деятельности которой
    сосредоточены в производственном, агропромышленном и строительном секторах экономики, в сфере финансовых услуг,
    торговли и сбыта. Холдинг был <b>образован в апреле 2003 года.</b>
  </p>
  <p>
    Сегодня «АЮ Холдинг» – это один из самых успешных и узнаваемых брендов страны. С первых дней стремления всех людей,
    которые стояли у истоков, были направлены на лидерство и построение самого передового производства с современным
    оборудованием и внедрением новых технологий.
  </p>
  <div>
    <button class="btn btn-dark m-3" (click)="getFounder()">Посмотреть основателя</button>
    <button class="btn btn-dark m-3" (click)="getEnterprises()">Посмотреть список предприятий</button>
  </div>
</div>
